# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [36]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [37]:
data = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(data,sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [38]:
chipo = df

### Step 4. How many products cost more than $10.00?

In [39]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [30]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [40]:
df['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)
df['item_price']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [ ]:
(chipo['item_price']> 10).sum()

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [41]:
item_price1 = chipo.groupby(by ="item_name")[["item_price"]].min()
item_price1.sort_values(by='item_price',ascending= False)

                                       item_price
item_name
Steak Salad Bowl                             9.39
Barbacoa Salad Bowl                          9.39
Carnitas Salad Bowl                          9.39
Carnitas Soft Tacos                          8.99
Carnitas Crispy Tacos                        8.99
Steak Soft Tacos                             8.99
Carnitas Salad                               8.99
Carnitas Bowl                                8.99
Barbacoa Soft Tacos                          8.99
Barbacoa Crispy Tacos                        8.99
Veggie Salad Bowl                            8.75
Chicken Salad Bowl                           8.75
Steak Burrito                                8.69
Steak Crispy Tacos                           8.69
Steak Salad                                  8.69
Carnitas Burrito                             8.69
Steak Bowl                                   8.69
Barbacoa Burrito                             8.69
Barbacoa Bowl                                8.69
Chicken Soft Tacos                           8.49
Veggie Bowl                                  8.49
Veggie Burrito                               8.49
Veggie Soft Tacos                            8.49
Chicken Crispy Tacos                         8.49
Veggie Crispy Tacos                          8.49
Veggie Salad                                 8.49
Chicken Salad                                8.19
Chicken Burrito                              8.19
Chicken Bowl                                 8.19
Crispy Tacos                                 7.40
Burrito                                      7.40
Bowl                                         7.40
Salad                                        7.40
6 Pack Soft Drink                            6.49
Chips and Guacamole                          3.89
Izze                                         3.39
Nantucket Nectar                             3.39
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Tomatillo Red Chili Salsa          2.95
Chips and Tomatillo Green Chili Salsa        2.95
Chips and Roasted Chili Corn Salsa           2.95
Chips and Tomatillo-Red Chili Salsa          2.39
Chips and Tomatillo-Green Chili Salsa        2.39
Chips and Roasted Chili-Corn Salsa           2.39
Chips and Fresh Tomato Salsa                 2.29
Chips                                        1.99
Side of Chips                                1.69
Canned Soft Drink                            1.25
Canned Soda                                  1.09
Bottled Water                                1.09

### Step 6. Sort by the name of the item

In [42]:
names = chipo.sort_values(by = "item_name",ascending=True).reset_index()
names

,index,order_id,quantity,item_name,choice_description,item_price
0,3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
1,341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
2,1849,749,1,6 Pack Soft Drink,[Coke],6.49
3,1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
4,2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...,...
4617,2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
4618,781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
4619,2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
4620,1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4621,1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [11]:
item_price1.sort_values(by='item_price',ascending= False)

                                       item_price
item_name
Steak Salad Bowl                             9.39
Barbacoa Salad Bowl                          9.39
Carnitas Salad Bowl                          9.39
Carnitas Soft Tacos                          8.99
Carnitas Crispy Tacos                        8.99
Steak Soft Tacos                             8.99
Carnitas Salad                               8.99
Carnitas Bowl                                8.99
Barbacoa Soft Tacos                          8.99
Barbacoa Crispy Tacos                        8.99
Veggie Salad Bowl                            8.75
Chicken Salad Bowl                           8.75
Steak Burrito                                8.69
Steak Crispy Tacos                           8.69
Steak Salad                                  8.69
Carnitas Burrito                             8.69
Steak Bowl                                   8.69
Barbacoa Burrito                             8.69
Barbacoa Bowl                                8.69
Chicken Soft Tacos                           8.49
Veggie Bowl                                  8.49
Veggie Burrito                               8.49
Veggie Soft Tacos                            8.49
Chicken Crispy Tacos                         8.49
Veggie Crispy Tacos                          8.49
Veggie Salad                                 8.49
Chicken Salad                                8.19
Chicken Burrito                              8.19
Chicken Bowl                                 8.19
Crispy Tacos                                 7.40
Burrito                                      7.40
Bowl                                         7.40
Salad                                        7.40
6 Pack Soft Drink                            6.49
Chips and Guacamole                          3.89
Izze                                         3.39
Nantucket Nectar                             3.39
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Tomatillo Red Chili Salsa          2.95
Chips and Tomatillo Green Chili Salsa        2.95
Chips and Roasted Chili Corn Salsa           2.95
Chips and Tomatillo-Red Chili Salsa          2.39
Chips and Tomatillo-Green Chili Salsa        2.39
Chips and Roasted Chili-Corn Salsa           2.39
Chips and Fresh Tomato Salsa                 2.29
Chips                                        1.99
Side of Chips                                1.69
Canned Soft Drink                            1.25
Canned Soda                                  1.09
Bottled Water                                1.09

In [12]:
item_price1.item_price.max()

9.39

In [14]:
name1 = name.copy()
name1.loc[name1['item_name']== 'Steak Salad Bowl'].quantity.sum()

31

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [45]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [47]:
(chipo[chipo.item_name == 'Canned Soda'].quantity>1).sum()

20